<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BootStrap CSS sheet -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
        <!-- Custom CSS-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="landing-img d-flex h-100">
            <div class="container d-flex justify-content-center align-items-center" style="height:100%">
                <div class="h-100 row align-items-center">

                    <div class="col">


                        <!-- Hero image text -->
                        <div class="row">
                            <div class="col">
                                <h3 class="subsubtitle landing-text"><b>WEEKLY NEWSLETTER</b></h3>
                                <h1 class="landing-text">Week by week, <b>BREAK INTO TECH</b></h1>
                                <p class="landing-text">Weekly actionable recruiting insights and goals to land your dream internship or job right in your inbox.</p>
                                <hr>
                            </div>
                        </div>

                        <!-- Subscribe form -->
                        <form class="row justify-content-center" action="{{ url_for('subscribe') }}" method="POST">
                            <div class="col-sm-8">
                                <label for="email" class="visually-hidden">Email address</label>
                                <input type="text" class="form-control" name="email" placeholder="ambitiousgogetter@breakintotech.com" aria-label="Email address">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-light">Subscribe</button>
                            </div>
                            <br />
                        </form>

                        <div class="row justify-content-center">
                            <div class="col-auto text-align-center">
                                <br />
                                <a href="https://breakintotech.substack.com" style="color: lightgray; font-size: 10px;">Let me read it first</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- BootStrap JavaScript script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>

